<h1>Application Details</h1>

<p>Application: <%= bold(@source.identifier) %></p>
<p>Root URL: <%= bold(@source.root_url) %></p>

<p><a href="/sources/<%= @source.identifier %>/events">Events</a></p>

<%= erb :"shared/details" %>
